db.sqlite3
translator/my_lang_translator/config.py
translator/config.py
my_lang/settings.py
my_lang/__pycache__/
translator/__pycache__/
translator/my_lang_translator/__pycache__/
translator/migrations/__pycache__/
translator/migrations/
registration/__pycache__/
registration/__pycache__/
registration/migrations/
registration/migrations/__pycache__/