{% extends "header.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1>
    {{ conlang.original_name }}
  </h1>
  <i>{{ conlang.english_name }}</i>
  <br>
  <i>by {{ conlang.user.name }} <a href="{% url 'user:profile' conlang.user.id %}">{{ conlang.user.email }}</a></i>

  <br>
  <p>{{ conlang.description }}</p>
  <br>

  <div class="row">
    <div class="col">
      {{ conlang.consonants }}
    </div>
    <div class="col">
      {{ conlang.vowels }}
    </div>
    <div class="col">
      {{ conlang.endings }}
    </div>
  </div>
</div>


{% endblock %}