{% extends "header.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1>
    Here you can translate any language* into Amʔanavio
  </h1>
  <i>*that is supported by Yandex translator</i>
  <br>
  <br>
  Please don't paste large texts - I have API limits
  <br>
  <!-- <br> -->

  <div class="row">
    <div class="col">
      <form>
        <!-- <input type="text" name="text"> -->
        <textarea rows="10" cols="80" name="text" placeholder="Enter text to translate">{{ text_to_translate }}</textarea>
        <br>
        <input type="submit" value="Translate">
      </form>
    </div>
    <div class="col">
      <textarea rows="10" cols="80" name="result" placeholder="Esperanto will be here">{{ esperanto }}</textarea>
      <br>
      Переведено сервисом «<a href="http://translate.yandex.ru">Яндекс.Переводчик</a>» 
    </div>
    <div class="col">
      <textarea rows="10" cols="80" name="result" placeholder="Amʔanavio will be here">{{ result }}</textarea>
    </div>
  </div>
</div>


{% endblock %}