{% extends "header.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container-fluid">
  <h1>
    Users list
  </h1>
  <br>
  {% for user in users %}
    {{ user.name }} - <a href="{% url 'user:profile' user.id %}">{{ user.email }}</a>
    <br>
    
  {% endfor %}

  <div class="row">
    <div class="col">
      <!-- <form>
        <div class="form-group">
          <textarea rows="10" cols="80" name="text" placeholder="Enter text to translate">{{ text_to_translate }}</textarea>
        </div>
        
        <input type="submit" value="Translate">
      </form> -->
    </div>
    <div class="col">
      <!-- <div class="form-group">
        <textarea rows="10" cols="80" name="result" placeholder="Esperanto will be here">{{ esperanto }}</textarea>
      </div>
      Переведено сервисом «<a href="http://translate.yandex.ru">Яндекс.Переводчик</a>»  -->
    </div>
    <div class="col">
      <!-- <div class="form-group">
        <textarea rows="10" cols="80" name="result" placeholder="Amʔanavio will be here">{{ result }}</textarea>
      </div> -->
    </div>
  </div>
</div>


{% endblock %}